<h1>새 포스트를 입력하는 창</h1>
<form action="/posts/create" method="post"> #디비에 조작을 가하는 모든 폼 액션은 포스트라고 생각하면 된다.
    <p>제목</p>
    <input type="text" name="input_title">
    <p>내용</p>
    <input type="text" name="input_content">
    <p>제출</p>
    <input type="submit" name="input_submit">
</form>